<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <article>
        <h1><%= @article.title  %>
        <%= link_to "âœ", edit_article_path  %>
        <%= link_to "ðŸ—‘", article_path(@article), method: :delete, data: { confirm: "Really delete #{@article.title}?" } %>
        </h1>
        <p><%= @article.content %></p>
      </article>
    </div>
    <%= link_to 'All Articles', articles_path %>
  </div>
</div>
